{{define "layout-base-start"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Title}}</title>
	<link href="/assets/stylesheets/out.css" rel="stylesheet">
	<script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
		integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx-ext-head-support@2.0.2"
		integrity="sha384-cvMqHzjCJsOHgGuyB3sWXaUSv/Krm0BdzjuI1rtkjCbL1l1oHJx+cHyVRJhyuEz0"
		crossorigin="anonymous"></script>
</head>
{{end}}
{{define "layout-base-end"}}

</html>
{{end}}
