package pages

import (
	"io/fs"

	"forge.capytal.company/capytal/www/templates/layouts"
)

templ blogEntry(content string) {
	@layouts.Page() {
		<main class="max-w-50rem p-10rem text-justify">
			@templ.Raw(content)
		</main>
	}
}

templ blogList(content []fs.DirEntry) {
	@layouts.Page() {
		<main class="max-w-50rem p-10rem text-justify">
			for _, c := range content {
				<div>
					<h2><a href={ templ.SafeURL(c.Name()) }>{ c.Name() }</a></h2>
				</div>
			}
		</main>
	}
}
