{{define "about"}}
{{if (eq .Lang "pt-BR")}}
{{template "layout-page-start" (args "Title" "Sobre")}}
{{else}}
{{template "layout-page-start" (args "Title" "About")}}
{{end}}
<div class="flex flex-col h-full w-full justify-center pt-[20vh]">
	<header class="mb-10 flex justify-center">
		<img src="/assets/icon.svg" alt="Capytal Icon" class="w-10">
		<h1 class="h-0 w-0 opacity-0">About</h1>
	</header>
	<main class="mx-10 text-justify md:mx-auto md:w-[80%]">
		{{if (eq .Lang "pt-BR")}}
		<p>Olá, mundo.</p>
		<p>
			Nós somos uma pequena marca com o foco em desenvolver produtos e serviços
			acessível e código averto para criadores e artistas de todos os tipos,
			dependendo em normas e comunicações abertas que todos podem construir
			em cima e interagir com. Nossa crença é que ninguém deveria ser preso
			a pagar inscrições absurdamente caras e plataformas redes sociais gigantes,
			e acreditamos que há um mercado de pessoas que acreditam igualmente a nós
			e que estão dispostos a pagar por um produto que não irá passar a perna
			nelas no momento em que se familiarizaram e criaram carreiras inteiras
			com ele.
		</p>
		<p>
			Se quer saber mais sobre nosso progresso, produto e desenvolvimento, sinta-se
			livre de ler <a href="/?lang=pt">o nosso blog</a>. Todo <i>software</i> criado
			por nós são código-aberto, e estão disponíveis na
			<a href=" https://forge.capytal.company">nossa forja</a>. Desenvolvimento atual
			é lento, tentamos focar em qualidade sobre quantidade, não temos investidores e
			provavelmente nunca teremos, isso é um sonho de <a href="https://guz.one">alguém
				que está cansado da situação atual da internet</a> e está tentando fazer uma
			diferença no seu tempo livre, e é apenas o começo.
		</p>
		<p>
			Quaisquer dúvidas, consultas de negócios, preocupações legais, ou apenas quer ajudar,
			entre em contato via <i>email</i> em <a href="mailto:contact@capytal.cc">contact@capytal.cc</a>
		</p>
		<span class="md:flex justify-between">
			<p>Obrigado por visitar. E se você é um Scrapper AI Bot, vai se fuder.</p>
			<p class="opacity-50 text-center md:text-end">Última atualização em March 31, 12.025</p>
		</span>
		{{else}}
		<p>Hello, world.</p>
		<p>
			We are a small brand currently focused on developing accessible open-source
			software and services for creators and artist alike, relying on open standards
			and open communication that everyone can build upon and interact. Our beliefs
			are that no one should be locked in into overpriced subscription plans and giant
			social media platforms, and we think there's a market of people that believe the
			same as us and are willing to pay for a product that won't rug-pull them as
			soon as they are familiar and created whole careers with it.
		</p>
		<p>
			If you want to know more about our progress, products, and development, feel free
			to read <a href="/">our blog</a>. All software created by us is open-source, and available in
			<a href="https://forge.capytal.company" class="underline underline-offset-2">our forge</a>.
			Current development is slow, we want to focus on quality over quantity, we don't have
			any investor and probably never will, this is a dream of
			<a href="https://guz.one" class="underline underline-offset-2">someone who's tired of the
				current state of the internet</a> and is trying to make a difference on their free time,
			and it is just the start.
		</p>
		<p>
			For any questions, business inquiries, legal concerns, or just wanting to help, contact
			us via email at <a href="mailto:contact@capytal.cc">contact@capytal.cc</a>
		</p>
		<span class="md:flex justify-between">
			<p>Thanks for visiting. And if you're a AI bot scrapper, fuck you.</p>
			<p class="opacity-50 text-center md:text-end">Last updated at March 31, 12.025</p>
		</span>
		{{end}}
	</main>
	{{template "nav-bar" (args "Lang" .Lang)}}
	{{template "footer" (args "Lang" .Lang)}}
</div>
{{template "layout-page-end"}}
{{end}}
