{{define "homepage"}}
{{template "layout-page-start" (args "Title" "Capytal")}}
<div class="flex h-full w-full justify-center pt-[30vh]">
	<div>
		<header class="mb-10 flex justify-center">
			<img src="/assets/icon.svg" alt="Capytal Icon" class="w-10">
			<h1 class="h-0 w-0 opacity-0">Homepage</h1>
		</header>
		<main>
			<ul class="flex flex-col gap-3 underline underline-offset-4">
				<li class="opacity-80 transition-opacity hover:opacity-100">
					<a href="/README.md?lang={{.Lang}}">/README.md</a>
				</li>
				<span hx-get="/blog/?lang={{.Lang}}" hx-trigger="load" hx-select="#blog-entries li" hx-swap="outerHTML"
					aria-busy="true">
					<span class="htmx-indicator opacity-50" style="text-decoration: none !important;">
						Loading...
					</span>
				</span>
			</ul>
		</main>
		<footer class="mx-10 mb-5 mt-10 min-h-[10vh] text-center opacity-50 md:mx-auto md:w-[80%]">
			<p>&copy; <a href="https://capytal.cc">Capytal</a></p>
		</footer>
	</div>
</div>
{{template "layout-page-end"}}
{{end}}
