{{define "privacy-policy"}}
{{template "layout-page-start" (args "Title" "Privacy Policy")}}
<div class="flex flex-col h-full w-full justify-center pt-[20vh]">
	<header class="mb-10 flex justify-center">
		<img src="/assets/icon.svg" alt="Capytal Icon" class="w-10">
		<h1 class="h-0 w-0 opacity-0">About</h1>
	</header>
	<main class="mx-10 md:text-justify md:mx-auto md:w-[80%]">
		<h1>Privacy Policy</h1>
		<p>
			This privacy policy describes how Capytal ("capytal.cc", "we", "us", "Capytal.cc") may collect
			personal information and to what degree when you use our websites and services ("Services"), such
			as when you:
		<ul class="list-disc m-5">
			<li>Visit our website at <a href="https://capytal.cc">https://capytal.cc</a>;</li>
			<li>Access our services under one of our domains:
				"<a href="https://capytal.cc">capytal.cc</a>",
				"<a href="https://capytal.company">capytal.company</a>",
				and/or "<a href="https://lored.dev">lored.dev</a>";
			</li>
			<li>Access any website of ours that links to this privacy notice;</li>
			<li>Use downloadable software provided by us;</li>
			<li>Engage with us in other related ways, including any sales, marketing, or events.</li>
		</ul>
		<details open="true" class="bg-[#111] p-5 rounded-xl">
			<summary class="font-bold">Too Long; Didn't Read (TL;DR)</summary>
			<p>
				<strong>Our services are developed by people who care about privacy and do not like to have their
					personal and identifiable data tracked by analytics tools without their consent</strong>.
				We try our best to keep our services in line with regulations such as
				<abbr title="General Data Protection Regulation">GDPR</abbr>,
				<abbr
					title="General Personal Data Protection Law (Portuguese: Lei Geral de Proteção de Dados Pessoais)">
					LGDP</abbr>, and <abbr title="California Consumer Privacy Act">CCPA</abbr>, while still providing
				useful data to understand our users and their priorities. The only type of data collected by our
				tracking scripts are:
			</p>
			<ul class="list-disc p-5">
				<li>Pages that you visit;</li>
				<li>Referrer URL;</li>
				<li>Operating system, browser type and device (User-Agent header);</li>
				<li>Preferred language (Accept-Language header);</li>
				<li>Timezone-based location (this limits us to just know the country configured in your system);</li>
				<li>Accessibility settings;</li>
				<li>Additional metadata about the pages you visit;</li>
			</ul>
			<p>
				<strong>We do not use cookies to track these informations</strong>, we cannot and do not want to
				be able to associate an user to any of the said data. The data collected by us is mostly used
				to understand things such as what operating system we must prioritize support, what accessibility
				concerns we should take care of more, and what languages we should focus on supporting in our
				services and websites.
			</p>
			<p>
				<strong>We do not share any of this data to any third-party</strong>, any data provided to us
				stay with us and it is used just between us and our first-party services. Any shared data
				is due to integrations such as embedded or referred content (for example, YouTube embedded videos).
			</p>
		</details>
		<h2>What we collect automatically by default</h2>
		<p>
			Capytal.cc by default do not collect any personally-identifiable information on our Services, IP addresses
			may or may not appear on automatically-generated log files but these automatically-generated log files
			are deleted after every 48 hours.
		</p>
		<p>
			Your browser or system may or may not send additional information such as user-agents that we may
			automatically collect to provide useful analytics to our developers and administrators.
		</p>
		<p>
			We use a self-hosted and self-managed script and analytics tool
			(<a href="https://medama.io" target="_blank" rel="noopener nofollow noreferrer">Medama</a>)
			to provide us additional data on how you interact with our Services. <strong>All analytical
				data by default is anonymised</strong>, accessed in bulk, and cannot be pointed to you
			or any other specific user of our Services, regardless of if you are registered in one of our
			Services or not. We <strong>DO NOT USE Cookies, IP addresses, and technologies like local storage,
				session cookies, IP addresses hashing to collect additional data about you by default</strong>,
			however, we may use said technologies to provide core functionality on our Services, such data
			in most cases is by default not personally-identifiable or used to track you or specific users.
		</p>
		<p>
			The following information is collected to provide us analytical data:
		</p>
		<dl class="m-5">
			<dt class="font-bold" id="page-events">
				Page Events
			</dt>
			<dd>
				When you access or exits a page in one of our Services, we collect that information for
				to our servers. Information collected includes but is not exhaustive to:
				<ul class="list-disc m-5">
					<li id="events-timestamps">
						Timestamps of the event;
					<li id="events-generated-id">
						A randomly generated ID;
					</li>
					<li id="event-type">
						Event type ("load" or "unload");
					</li>
					<li id="event-page-url">
						Page URL;
					</li>
					<li id="event-referrer-url">
						Referrer URL;
					</li>
					<li id="event-new-visitor">
						Is you are a new visitor or not
						<a href="#unique-visitors" class="italic opacity-50">
							(See below how we track unique visitors);</a>
					</li>
					<li id="event-visited-before">
						Has you visited the same page before
						<a href="#unique-visitors" class="italic opacity-50">
							(See below how we track unique visitors);</a>
					</li>
					<li id="event-timezone">
						Timezone of your browser or system;
					</li>
					<li id="event-time-spent">
						Time spent on a page in milliseconds;
					</li>
					<li id="event-metadata">
						Additional metadata about events (such as if you are logged on the accessed Service
						or not, what page theme you are using, clicked links or buttons such as for downloading
						a file or contacting us).
					</li>
				</ul>
			</dd>
			<dt class="font-bold mt-5" id="http-headers">
				HTTP Headers
			</dt>
			<dd>
				Your browser sends us additional data used to better serve our Services. We collect some of
				this data on our analytics tool: "Accept-Language" header used by your browser; "User-Agent"
				header, which includes information about your browser type, device and operating system.
			</dd>
			<dt class="font-bold mt-5" id="location">
				Location
			</dt>
			<dd>
				<strong>We do not use IP addresses or IP geolocation to determine your location</strong>.
				Instead, we determine your country based on
				<a href="#event-timezone" class="italic">your browser's timezone</a>. Capytal cannot determine your
				exact city or region, this is intentional to preserve end user privacy.
			</dd>
			<dt class="font-bold mt-5" id="accessibility-settings">
				Accessibility Settings
			</dt>
			<dd>
				Capytal may collect your browser's accessibility settings data to better understand the
				needs of our users regarding accessibility concerns.
			</dd>
		</dl>
	</main>
	{{template "nav-bar" (args "Lang" .Lang)}}
	{{template "footer" (args "Lang" .Lang)}}
</div>
{{template "layout-page-end"}}
{{end}}
