{{define "privacy-policy"}}
{{template "layout-page-start" (args "Title" .Title)}}
<style>
</style>
<div class="flex flex-col h-full w-full justify-center pt-[20vh]">
	<header class="mb-10 flex justify-center">
		<img src="/assets/icon.svg" alt="Capytal Icon" class="w-10">
	</header>
	<main class="mx-10 md:text-justify md:mx-auto md:w-[80%]">
		{{.Content}}
		<hr>
		<p>
			{{if (eq .Lang "pt-BR")}}
			Última atualização:
			{{else}}
			Latest update:
			{{end}}
			{{.ChangeDate}}
		</p>
	</main>
	{{template "nav-bar" (args "Lang" .Lang)}}
	{{template "footer" (args "Lang" .Lang)}}
</div>
{{template "layout-page-end"}}
{{end}}
