{{define "footer"}}
<footer class="mx-10 mb-5 mt-10 min-h-[10vh] text-center opacity-50 md:mx-auto md:w-[80%]">
	<p>&copy; <a href="https://capytal.cc" class="no-underline">Capytal</a></p>
	<ul class="m-0 list-none flex w-full gap-5 justify-center transition-opacity">
		<li class="inline-block">
			<a href="/about" class="no-underline hover:underline opacity-50 hover:opacity-100">
				{{if (eq .Lang "pt-BR")}}
				Sobre
				{{else}}
				About
				{{end}}
			</a>
		</li>
		<li class="inline-block">
			<a href="/" class="no-underline hover:underline opacity-50 hover:opacity-100">
				Blog
			</a>
		</li>
		<li class="inline-block">
			<a href="/privacy" class="no-underline hover:underline opacity-50 hover:opacity-100">
				{{if (eq .Lang "pt-BR")}}
				Política de Privacidade
				{{else}}
				Privacy Policy
				{{end}}
			</a>
		</li>
		<li class="inline-block">
			<a href="https://forge.capytal.company" class="no-underline hover:underline opacity-50 hover:opacity-100">
				{{if (eq .Lang "pt-BR")}}
				Código-Aberto
				{{else}}
				Open Source
				{{end}}
			</a>
		</li>
		<!-- <li class="inline-block">
			<a href="https://social.capytal.company" target="_blank" rel="noopener nofollow noreferrer"
				class="no-underline hover:underline opacity-50 hover:opacity-100">
				Fediverse
			</a>
		</li>
		<li class="inline-block">
			<a href="https://bsky.app/profile/capytal.cc" target="_blank" rel="noopener nofollow noreferrer"
				class="no-underline hover:underline opacity-50 hover:opacity-100">
				Bluesky
			</a>
		</li>
		<li class="inline-block">
			<a href="https://capytal.tumblr.com" target="_blank" rel="noopener nofollow noreferrer"
				class="no-underline hover:underline opacity-50 hover:opacity-100">
				Tumblr
			</a>
		</li> -->
	</ul>
	{{if (eq .Lang "pt-BR")}}
	<p class="text-justify text-xs opacity-50">
		Conteúdos desse site são licenciados sob a licença
		<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener nofollow noreferrer">
			CC BY-SA 4.0</a>, caso o contrário não seja especificado. O código-fonte
		<a href="https://forge.capytal.company/capytal/www">código-fonte</a> subjacente usado para formatar e exibir o
		conteúdo é, caso contrário especificado, licenciado sob a
		<a href=" https://www.mozilla.org/en-US/MPL/2.0/" target="_blank" rel="noopener nofollow noreferrer">
			Mozilla Public License 2.0</a>.
		" Capytal", "Capytal Code" , "Capytal Creators" , a logo e ícone da Capytal, são marcas de <a
			href="https://guz.one" target="_blank">
			Gustavo " Guz" L. de Mello</a>.
	</p>
	{{else}}
	<p class="text-justify text-xs opacity-50">
		Contents of this website are licensed under the
		<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener nofollow noreferrer">
			CC BY-SA 4.0</a>, unless otherwise noticed. The underlying
		<a href="https://forge.capytal.company/capytal/www" target="_blank">source code</a>
		used to format and display the contents is, unless otherwise noticed,
		licensed under the
		<a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank" rel="noopener nofollow noreferrer">
			Mozilla Public License 2.0</a>. "Capytal", "Capytal Code", "Capytal Creators", the Capytal Logo and Icon,
		are trademarks of <a href="https://guz.one" target="_blank">Gustavo "Guz" L. de Mello</a>.
	</p>
	{{end}}
</footer>
{{end}}
