{{define "footer"}}
{{if (eq .Lang "pt")}}
<footer class="mx-10 mb-5 mt-10 min-h-[10vh] text-center opacity-50 md:mx-auto md:w-[80%]">
	<p>&copy; <a href="https://capytal.cc">Capytal</a></p>
	<p class="text-justify text-xs opacity-50">
		Conteúdos desse site são licenciados sob a licença
		<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener nofollow noreferrer"
			class="underline underline-offset-2">
			CC BY-SA 4.0</a>,
		caso o contrário não seja especificado. O código-fonte
		<a href="https://forge.capytal.company/capytal/www" target="_blank" class="underline underline-offset-2">
			código-fonte
		</a>
		subjacente usado para formatar e exibir o conteúdo é, caso contrário especificado,
		licenciado sob a
		<a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank" rel="noopener nofollow noreferrer"
			class="underline underline-offset-2">
			Mozilla Public License 2.0</a>.
		"Capytal", "Capytal Code", "Capytal Creators", a logo e ícone da Capytal, são
		marcas de
		<a href="https://guz.one" target="_blank" class="underline underline-offset-2">
			Gustavo "Guz" L. de Mello</a>.
	</p>
</footer>
{{else}}
<footer class="mx-10 mb-5 mt-10 min-h-[10vh] text-center opacity-50 md:mx-auto md:w-[80%]">
	<p>&copy; <a href="https://capytal.cc">Capytal</a></p>
	<p class="text-justify text-xs opacity-50">
		Contents of this website are licensed under the
		<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener nofollow noreferrer"
			class="underline underline-offset-2">
			CC BY-SA 4.0</a>,
		unless otherwise noticed. The underlying
		<a href="https://forge.capytal.company/capytal/www" target="_blank" class="underline underline-offset-2">
			source code
		</a>
		used to format and display the contents is, unless otherwise noticed,
		licensed under the
		<a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank" rel="noopener nofollow noreferrer"
			class="underline underline-offset-2">
			Mozilla Public License 2.0</a>.
		"Capytal", "Capytal Code", "Capytal Creators", the Capytal Logo and Icon, are
		trademarks of
		<a href="https://guz.one" target="_blank" class="underline underline-offset-2">
			Gustavo "Guz" L. de Mello</a>.
	</p>
</footer>
{{end}}
{{end}}
