{{define "nav-bar"}}
<nav class="mx-10 text-justify md:mx-auto md:w-[80%] mt-5 opacity-50 flex justify-between">
	<a href="/?lang={{.Lang}}" class="underline-offset-2 transition-opacity hover:underline hover:opacity-100">
		&lt;- {{if (eq .Lang "pt-BR")}}Retornar a página principal{{else}}Return to Homepage{{end}}
	</a>
	<ul class="list-none">
		{{if (ne .Lang "pt-BR")}}
		<li>
			<a href="?lang=pt-BR" class="underline-offset-2 transition-opacity hover:underline hover:opacity-100">
				pt-BR
			</a>
		</li>
		{{else}}
		<li>
			<a href="?lang=en-US" class="underline-offset-2 transition-opacity hover:underline hover:opacity-100">
				en-US
			</a>
		</li>
		{{end}}
	</ul>
</nav>
{{end}}
